In [24]:
#you can print the number using the index
numbers = [1,2,3,4]
print(numbers[1])

2

In [25]:
#we can also use slicing to print the numbers 
#[start arg:stop arg:step arg]
numbers = [1,2,3,4, "words1", "six",2.3]
print(numbers[:5])

[1, 2, 3, 4, 'words1']

In [26]:
#starts from the last
numbers = [1,2,3,4, "words1", "six",2.3]
print(numbers[-1])

2.3

In [6]:
# ThIS WILL REPLACE THE list 
numbers = [1,2,3,4, "words1", "six",2.3]
numbers[1]= 'two'
print(numbers)

[1, 'two', 3, 4, 'words1', 'six', 2.3]

In [5]:
id(numbers)

2210725193920

In [7]:
#append extend and insert is to add data in a list
#always remember append will always add the value in the last
numbers = [1,2,3,4, "words1", "six",2.3]
numbers.append("one")
print(numbers)

[1, 2, 3, 4, 'words1', 'six', 2.3, 'one']

In [8]:
#if you want to insert any value at random place in a cell we can use insert command
numbers = [1,2,3,4, "words1", "six",2.3]
numbers.insert(4,"goat")
print(numbers)

[1, 2, 3, 4, 'goat', 'words1', 'six', 2.3]

In [10]:
#numbers me numbers1 will be added 
numbers = [1,2,3,4, "words1", "six",2.3]
numbers1= ['grapes', 'apple']
numbers.extend(numbers1)
print(numbers)

[1, 2, 3, 4, 'words1', 'six', 2.3, 'grapes', 'apple']

In [14]:
#it added the list as it in in the merged list 
numbers = [1,2,3,4, "words1", "six",2.3]
numbers1= ['grapes', 'apple']
numbers.append(numbers1)
print(numbers)

[1, 2, 3, 4, 'words1', 'six', 2.3, ['grapes', 'apple']]

In [15]:
#how to delete in a list 
#remove del pop() is for deleting the data in the list

fruits = ['orange', 'apple', 'kela', 'pears', 'chikoo']
fruits.pop()
#del fruits[0]
fruits.remove('kela')
print(fruits)

['orange', 'apple', 'pears']

In [19]:
fruits = ['orange', 'apple', 'kela', 'pears', 'chikoo', 'guava']
#print(fruits.count('orange'))
fruits.sort()
print(fruits)
type(fruits)

['apple', 'chikoo', 'guava', 'kela', 'orange', 'pears']

list

In [20]:
#join converts list to string
#split converts string to list
# setting the maxsplit parameter to 1, will return a list with 2 elements!
txt = "apple#banana#cherry#orange"
x = txt.split("#", 2)
print(x)

['apple', 'banana', 'cherry#orange']

In [21]:
a = 19
b= 8
print(a//0.5)
print(a/3)

38.0
6.333333333333333

In [22]:
#hard coded so test cases were not passing in hacker rank
for i in range(0,5):
    print(i*i)

0
1
4
9
16

In [23]:
#wen we passed the value as x then code ran
x= int(input())
for i in range(0,x+1):
   print(i*i)

 3

0
1
4
9